@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//? Police d'écriture
$kanit: "Kanit", sans-serif;

//? Jeu d'échecs
$size-case: 60px;
$border-size-enabled-case: 3px;
$external-layout-size: calc($size-case * 2 / 3);
$text-size: calc($size-case/3);
$external-border-size: 3px;
$internal-border-size: 3px;
$board-container-size: calc(
    8 * $size-case + 2 * $external-layout-size + 2 * $external-border-size + 2 *
        $internal-border-size
);

$first-color: #6a3425;
$second-color: #c0a79f;
$first-color-highlight: #33150d;
$second-color-highlight: #5f4339;

$white-piece-color: #bbbbbb;
$white-piece-border-color: #3a3a3a;
$black-piece-color: #000000;
$black-piece-border-color: #3a3a3a;
$piece-stroke-width: calc($size-case/3.75);
$selected-case-color: #8d6e1a;
$selected-case-border: #cacaca;
$possible-moves-color: #185868;
$possible-moves-border: #a7a7a7;

$pawn-piece-choice-size: 150px;
$pawn-modal-internal-space-size: 2px;
$pawn-modal-border-size: 3px;
$pawn-modal-size: 2 * $pawn-piece-choice-size + $pawn-modal-internal-space-size +
    2 * $pawn-modal-border-size;
$pawn-modal-color: #53514f;
$pawn-modal-hover-color: #d4d4d4;
$pawn-modal-border-color: #272626;
$piece-choice-SVG-color: #8d6e1a;
$piece-choice-SVG-border-color: #272626;
$piece-choice-SVG-stroke-width: 15px;

//? Couleur
$color0: #ffffff;
$color14: #151d3f;

//? Z-index
$z-index-one: 1;
$z-index-loading-logo: 11;

//? Loading logo
$loading-logo-size: 5px;
$loading-logo-size-coefficient: 20;
$loading-logo-cache: #000000b7;
$loading-logo-transparent: #ffffff4b;